{# Left-rail navigation for the settings page.
   Anchors match the `id` attribute of each .setg-block below. #}
{% import "_components.html" as c %}

<aside class="setg-rail">
  <div class="setg-rail-eyebrow">Settings</div>

  {% set ico_overview     %}<i class="fa-solid fa-table-cells-large" aria-hidden="true"></i>{% endset %}
  {% set ico_general      %}<i class="fa-solid fa-gear" aria-hidden="true"></i>{% endset %}
  {% set ico_libraries    %}<i class="fa-solid fa-folder-tree" aria-hidden="true"></i>{% endset %}
  {% set ico_cleanup      %}<i class="fa-solid fa-trash-can" aria-hidden="true"></i>{% endset %}
  {% set ico_integrations %}<i class="fa-solid fa-plug" aria-hidden="true"></i>{% endset %}
  {% set ico_newsletter   %}<i class="fa-solid fa-envelope" aria-hidden="true"></i>{% endset %}
  {% set ico_users        %}<i class="fa-solid fa-users" aria-hidden="true"></i>{% endset %}

  {{ c.setg_rail_item("#setg-overview",     "Overview",          ico_overview) }}
  {{ c.setg_rail_item("#setg-general",      "General & Schedule", ico_general) }}
  {{ c.setg_rail_item("#setg-libraries",    "Libraries & Paths", ico_libraries) }}
  {{ c.setg_rail_item("#setg-cleanup",      "Cleanup Rules",     ico_cleanup) }}
  {{ c.setg_rail_item("#setg-integrations", "Integrations",      ico_integrations, count="8") }}
  {{ c.setg_rail_item("#setg-newsletter",   "Newsletter",        ico_newsletter) }}
  {{ c.setg_rail_item("#setg-users",        "Users & Access",    ico_users) }}
</aside>
